.item {
	position: relative;
	border: 1px solid #ddd;
	box-shadow: 5px 5px 15px rgba(0,0,0, .2);
}
.info {
	padding: 10px;
	line-height: 25px;
	font-size: 20px;
}
button {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border: none;
	border: 1px solid #ddd;
	outline: none;
	user-select: none;
}
button:hover {
	background: #eaeaea;
}
button:active {
	background: #bbb;
}
.checkbox {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	position: absolute;
	background: white;
	left: 10px;
	top: 10px;
}

.checked:after {
	content: "";
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
	height: 15px;
	background: rgb(58, 58, 104);
}